body{
	background: #ecf2f9;
}

@font-face{
	font-family: 'Architects Daughter';
	src : url('https://fonts.gstatic.com/s/architectsdaughter/v7/RXTgOOQ9AAtaVOHxx0IUBM3t7GjCYufj5TXV5VnA2p8.woff2');
}

.main-container{
	text-align: center;
	margin: auto;
	padding: 25px;
	border-radius: 10px;
	width: 420px;
	background: #0d1a26;
	margin-top:10%;
}

@media only screen and (max-width :450px ){
	.main-conatiner{
		width : 90%;
	}
}

.game-box{
	font-family: 'Architects Daughter', Helvetica, sans-serif;
	align-items: center;
	border-radius: 5px;
	position: relative;
	color: #0d1a26;
	padding: 15px;
	background: #ecf2f9;
	min-height: 200px;
	padding-bottom: 0px;
}


.game-box-inner{
	padding-top: 20px;
}

.score-board{
	width: 100%;
	display: table;
}

.score-div{
	display: table-cell;
}

.board-wrapper{
	text-align: center;
}

.board{
	margin : auto;
	margin-top: 25px;

}

.board-row{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.square-inner{
	position: absolute;
	font-size: xx-large;
	/*min-height: 68%;*/
	padding: 5px;
	right: 20px;

}

.square{
	width: 50px;
    height: 50px;
    padding: 10px;
	display: inline-table;
	background: #204060;
	margin: 2px;
	color: #d9e6f2;
	border-radius : 5px;
	cursor: pointer;
	position: relative;
}

.square:hover{
	background: #2d5986;
}
.square.filled:hover{
	background: #204060;
}

.square.win-square , .square.win-square:hover{
	background: #0d1a26;
}


.select-game-type{
	padding: 25px 15px 15px 15px;
}

.select-game-type{
	padding: 25px 15px 15px 15px;
}

.game-btn{
	transition: transform 100ms ease-in;
	display: inline-block;
	margin: 25px 15px 5px 15px;
	border: solid 1px #204060;
	border-radius: 4px;
	background: transparent;
	color: #204060;
	padding: 10px 15px; 
	cursor: pointer;
}

.game-btn:hover{
	transform: scale(1.04,1.04);
	border: solid 1px #060d13;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}



.credits{
    margin-top: 100px;
    text-align: center;
    font-size: 90%;
    font-style: italic;
    font-family: monospace;
    color: #0D1A75;
}

.score-num{
	font-size: 110%;
	font-weight: bold;
}

.turn-displayer{
    padding: 7px;
    margin: auto;
    margin-top: 25px;
	color: #d9e6f2;
    background: #2d5986;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%; 
}

.result-div{
    font-size: xx-large;
    z-index: 2;
    position: absolute;
    width: 100%;
    top : 150px;
    color: #b3cce6;
    left: 0px;
}

.result-div-background{
    position: absolute;
	z-index: 1;
	width: 100%;
    height: 100%;
	background: #0d1a26;
    opacity: 0.85;
    top : 0px;
    left: 0px;
}

.reset-btn{
	color: #204060;
	position: absolute;
	padding : 5px;
	top : 0px ;
	right: 0px; 
	margin: 2px;
	cursor: pointer;
}

.reset-btn:hover{
	color: #000000;
	border-radius: 6px;
}



/*animations*/

.fade-appear{
	opacity: 0.01;
}

.fade-appear.fade-appear-active{
	opacity: 1;
	transition: opacity 700ms ;
}

.fade-enter{
	opacity: 0.01;
}


.fade-enter.fade-enter-active{
	opacity: 1;
	transition: opacity 700ms ;
}

.fade-leave{
	opacity: 1;
}

.fade-leave.fade-leave-active{
	opacity: 0.01;
	transition: opacity 700ms;
}



.slide-appear{
	height: 0px;
}

.slide-appear.slide-appear-active{
	height: 40px;
	transition: height 700ms ;
}

.slide-enter{
	height: 0px;
}


.slide-enter.slide-enter-active{
	height: 40px;
	transition: height 700ms ;
}

.slide-leave{
	height: 40px;
}

.slide-leave.slide-leave-active{
	height: 0px;
	transition: opacity 700ms;

}
